# Salin isi ini ke file .env (setelah laravel new), sesuaikan DB.
APP_NAME=YumerchAPI
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=toko_merch_anime
DB_USERNAME=root
DB_PASSWORD=
